.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para la tabla */
.App-table {
  margin-top: 20px;
}

.App-table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.App-table th,
.App-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.App-table th {
  background-color: #f2f2f2;
  color: #333;
}

.App-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.App-table tbody tr:hover {
  background-color: #ddd;
}
